.back {
  float: left;
  margin-left: 0.899rem;
  width: 9.520rem;
  height: 2.5rem;
  background: #F8F9FA;
  border: 1px solid rgba(109, 127, 146, 0.5);
  box-sizing: border-box;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #6D7F92;
}
.import {
  width: 9.520rem;
  height: 2.5rem;
  border: 1px solid #06D9B1;
  box-sizing: border-box;
  float: right;
  //filter: drop-shadow(0px 4px 10px rgba(41, 57, 77, 0.1));
  border-radius: 4px;
  background: #FFFFFF;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #02AF8E;

  img {
    width: 0px;
    height: 20px;
    float: left;
    transition: all 0.5s ease;
  }

  img.loading {
    width: 20px;
    margin-left: 0.8rem;
  }

}
.save{
  width: 10.120rem;
  height: 2.5rem;
  background: #0EBF9E;
  margin-left: 1rem;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  float: right;
  //padding: 10px 4px;
  img {
    width: 0px;
    height: 20px;
    float: left;
    transition: all 0.9s ease;
  }

  img.loading {
    width: 20px;
    //margin-right: 1rem;
    margin-left: 0.8rem;
  }
}
