@import "styles/base/variables";

.side_page_header {
  height: 60px;
  //text-transform: capitalize;
  background: #f3faff;
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
  border: 0.5px solid rgba(199, 232, 254, 0.5);

  &__info {
    display: flex;
    align-items: center;
    padding-left: 81px;

    p {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;
      color: $slate-gray;
      margin: 0.5rem;

      &.sub_header {
        color: $curious-blue;
        font-weight: 500;
      }
    }

    button {
      background: #f8f9fa;
      border: 1px solid rgba(109, 127, 146, 0.3);
      box-sizing: border-box;
      border-radius: 5px;
      width: 116px;
      height: 36px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      color: #6d7f92;
      cursor: pointer;
      margin-right: 13px;

      &:hover {
        border: 1px solid #2495e1;
      }

      img {
        transform: rotate(180deg);
        width: 14px;
        margin-right: 9px;
        height: 20px;
      }

      & ~ p {
        text-transform: uppercase;
      }
    }
  }

  &.absolute {
    position: absolute;
  }
}
